.chat-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}
.chat-date {
  color: rgb(188, 188, 188);
  font-size: 14px;
  white-space: nowrap;
}
.chat-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.first-name {
  color: rgb(44, 44, 44);
}
.last-message {
  color: rgb(184, 184, 184);
  font-size: 13px;
}
