.title {
  color: rgb(76, 148, 250);
  font-weight: normal;
  margin-bottom: 20px;
  padding-left: 30px;
}
.list {
  display: flex;
  flex-direction: column;
}
.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  align-items: center;
  border-bottom: solid 1px rgb(215, 215, 215);
  padding-left: 30px;
  padding-bottom: 10px;
  cursor: pointer;
}
.list-item:not(:first-child) {
  padding-top: 10px;
}
